CONFIG_SOC_NEORV32=y
CONFIG_SOC_NEORV32_V1_8_6=y
CONFIG_SOC_NEORV32_ISA_C=y
CONFIG_BOARD_ORANGECRAB=y
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_XIP=n
